@media (max-width: 1345px) {

    .cover {
      text-align: center;
    }
  
    main {
      max-width: calc(640px);
      margin: 0 auto !important;
    }
  
    main.home {
      display: block;
      max-width: calc(640px);
    }
  
    .stammytoc {
      visibility: hidden;
    }
  }
  
  @media (max-width: 640px) {
  
    .cover {
      text-align: center;
    }
  
    main {
      min-width: 375px;
      margin: 0 auto !important;
    }
  
   main.home {
      display: block;
      min-width: 375px;
    }
  
  }
  